body {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px; 
}

.left-heading {
    margin: 0;
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center; 
    align-items: center; 
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: pink;
}

.sub-banner {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    margin-top: 20px; 
}

.sub-text {
    font-size: 14px;
    display: block; 
    color: black;
    text-align: center; 
    margin-top: auto; 
}


#aboutUsContainer {
    text-align: center;
    padding: 20px;
}

#aboutUs {
    max-width: 600px;
    margin: 0 auto;
}

#designersButton {
    display: block;
    margin: 20px auto; /* Centera knappen horisontellt */
    padding: 10px 20px;
    background-color: pink; /* Rosa bakgrundsfärg */
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#designersButton:active {
    background-color: gray; /* Grå bakgrundsfärg när knappen är aktiv (klickad) */
}