body {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px; 
}

.left-heading {
    margin: 0;
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center; 
    align-items: center; 
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu a:hover {
    color: pink;
}

.sub-banner {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    margin-top: 20px; 
}

.sub-text {
    font-size: 14px;
    display: block; 
    color: black;
    text-align: center; 
    margin-top: auto; 
}


#aboutUs h2 {
    text-align: center;
}

#aboutUsContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Justera detta för önskad avstånd över knappen */
}

#designersButton {
    background-color: pink;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#designersButton:hover {
    background-color: lightpink;
}.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Justera detta för önskad avstånd över knappen */
}

#designersButton {
    background-color: pink;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#designersButton:hover {
    background-color: gray
}